.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.btn-group .btn-block {
  margin-right: 20px;
}

.btn-group .btn-block+.btn-block {
  margin-top: 0;
  margin-right: 0;
}
