<ng-template #changePasswordModal size="lg" let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4>Change Password</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="row m-t-10">
          <div class="col-xs-12">
            <fieldset class="form-group position-relative has-icon-left">
                <input [type]="passwordType" id="password" class="form-control input-lg" placeholder="New Password" tabindex="6"
                [(ngModel)]="model.password" 
                name="password"
                #password="ngModel"
                required
                minlength="6"
                maxlength="20" 
                validateSpecialCharsAndNumbers
                validateStrength
                (focus)="onShowPasswordTips()">
                <div class="form-control-position">
                    <i class="fa fa-key"></i>
                </div>
                <div class="btn-show-password blue-grey pull-right" (click)='onChangePasswordInputType()'>
                    Show
                </div>
                <div *ngIf="showPasswordTips || password.touched" class="font-small-3">
                    
                    <ul class="ul-password-tips" *ngIf="password.valid">
                        <li><span class="password-tip success darken-4"><i class="fa fa-check"></i> <span>Password Strength: Good</span></span></li>
                    </ul>
                    <ul class="ul-password-tips" *ngIf="!password.valid">
                        <li>
                            <span class="password-tip" [ngClass]="{
                                'error-message': password.errors != null && password.errors.weakpassword, 
                                'success darken-4': password.valid || (password.errors != null && !password.errors.weakpassword && !password.errors.required && !password.pristine)
                            }">
                                <i class="fa fa-check"></i>
                                <i class="fa fa-close"></i>
                                <span>Password Strength: Weak</span>    
                            </span>
                        </li>
                        <li>
                            <span class="password-tip" [ngClass]="{
                                'error-message': password.errors != null && password.errors.minlength, 
                                'success darken-4': password.valid || (password.errors != null && !password.errors.minlength && !password.errors.required && !password.pristine)
                            }">
                                <i class="fa fa-check"></i>
                                <i class="fa fa-close"></i>
                                <span>At least 6 characters</span>    
                            </span>
                        </li>
                        <li>
                            <span class="password-tip" [ngClass]="{
                                'error-message': password.errors != null && password.errors.specialCharsAndNumbers,
                                'success darken-4': password.valid || (password.errors != null && !password.errors.specialCharsAndNumbers && !password.errors.required && !password.pristine)
                            }">
                                <i class="fa fa-check"></i>
                                <i class="fa fa-close"></i>
                                <span>Must have at least a number or a special character</span>    
                            </span>
                        </li>
                    </ul>
                </div>
            </fieldset>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      <button type="button" class="btn btn-lg btn-success btn-darken-2" (click)="onConfirm()" [disabled]="password.errors != null">Confirm</button>
  </div>
</ng-template>