<ng-template #cashlessOptionsMenuModal>
  <div class="card card-modal" id="big-card-modal">
    <div class="card-header bg-white bg-lighten-5 p-b-10 p-t-15">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="close" aria-label="Close" (click)="close()" style="float: right;">
            <span aria-hidden="true">&times;</span>
          </button>
          <h6 class="card-title blue-grey darken-1">Refinance Offer</h6>
        </div>
      </div>
    </div>
    <div class="card-content container">
      <div class="card-body p-b-10 p-b-5">
        <div class="row " id="row-of-buttons">
          <div class="col-3">
            <button type="button" class="btn" id="button-menu" (click)="openCashlessModal()">
              Lower your payment
              <br> amount </button>
          </div>
          <div class="row" id="mobile-row">
          </div>
          <div class="col-3">
            <button type="button" class="btn" id="button-menu" (click)="openEditNewOfferModal()">
              Update your employer
              <br> and lower your
              <br> payment amount </button>
          </div>
          <div class="row" id="mobile-row">
          </div>
          <div class="col-3">
            <button type="button" class="btn" id="button-menu" (click)="openMakeOneTimePaymentModal()">
              Full loan payoff
              <br>(One-time discounted <br> payment)</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-new-offer-cashless #newCashlessOfferModal [dataModel]="dataModel"></app-new-offer-cashless>
<app-edit-new-offer-modal #editNewOfferModal [data_model]="dataModel"></app-edit-new-offer-modal>
<app-make-one-time-payment-modal #makeOneTimePaymentModal></app-make-one-time-payment-modal>