<div class="app-content content container-fluid">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <section class="flexbox-container">
          <div class="col-xs-12 col-sm-10 offset-sm-1">
            <div class="card-header bg-transparent no-border pb-0">
              <h1 class="error-code text-xs-center mb-2">Temporarily down for maintenance</h1>
              <h3 class="text-xs-center">We sincerely apologize for incovenience.</h3>
              <p class="text-xs-center m-t-20">To better serve you, we are performing scheduled maintenance.</p>
              <p class="text-xs-center">We should be back online shortly.</p>
              <p class="text-xs-center">Thank you for your patience.</p>
            </div>
            <div class="card-footer bg-transparent pb-0">
              <div class="row">
                <p class="text-muted text-xs-center col-xs-12 py-1">© 2018
                  BMG Money, Inc
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>