<ng-template #policyModal size="lg" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4>Privacy Policy</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <p>
        This Privacy Policy describes BMG Money, Inc. ("BMG", "we" or "us") policies and procedures
        on the collection, use and disclosure of your information on www.bmgmoney.com (the "Site"). We want you, our customer,
        to understand how we collect and use data about your Site visit, specifically the portions of the Site that require you to
        register and/or log in to gain access. The Privacy Policy below identifies what information the Site collects, and how it is used.
    </p>


    <h4 class="m-t-30">INFORMATION COLLECTION</h4>
    <p>
        By registering and using our services on the Site, you voluntarily and willingly provide us certain information, including personally
        identifiable information, which we collect in order to provide BMGâs services. We collect personal and financial information while
        you use the Site, and most of this collection occurs during registration and the loan application process. If you have any hesitation
        about providing us with information, which may be used in the manners permitted in this Privacy Policy and the Terms of Use, you
        should not register, or use our services, or access our Site; if you are already registered, you should close your online account.
    </p>

    <p>
        <em>Anonymous Information.</em> We may collect two types of information through this Site: anonymous information and personally
        identifiable information. Anonymous data regarding the use of the Site does not identify individual users by itself or in combination
        with other information. The anonymous data we collect can include information such as the type of browser you are using, IP address,
        geographical location, the pages you view, and the length of your visit to the Site. We gather this anonymous information to improve
        the performance of the Site, the services provided on our Site, and the information we provide. The linkage between your IP address
        and your personally identifiable information is not shared with third parties without your permission, except as described in this
        Privacy Policy.
    </p>

    <p>
        <em>Personally Identifiable Information.</em> We may also ask you to provide personally identifiable information ("PII")
        on the Site, which may include, but is not limited to, your name, address, telephone number, date of birth, social security number,
        employer name, and email address. This information can be gathered when you send us an email, or when you complete the specific web
        page registration form, or the loan application. In all cases, you choose whether to provide us with the PII, but without the requested
        PII, certain portions of the Site may not be available to you, or we may not be able to effectively respond to your inquiries.
    </p>

    <p>
        <em>My Account.</em> In order to use our services on the Site, you must provide us the following information to create an account:
        your first and last name, your email address, phone number, and a password. Like other passwords, you should choose one that is known
        only by you. We will also collect your birth date to determine if you are of legally sufficient age to use the BMG services. We may
        also ask you to provide additional personal information regarding your customer account with BMG. This additional information may
        include existing account numbers, social security number, bank account numbers and so forth.
    </p>

    <p>
        <em>Surveys and Feedback.</em> If you voluntarily submit information to us, including survey participation, feedback, and information
        request responses, we will collect the information you submit. In each case, you will know the data we collect, because you have
        actively submitted it. We will use the data you voluntarily submit to us for the purposes we describe in this Privacy Policy, as
        well as any purposes that we describe to you when we collect such information.
    </p>


    <h4 class="m-t-30">COOKIES</h4>
    <p>
        If you visit our Site, we may place a small data file on your computer (often called a "cookie") when you login to identify
        and enhance your web usage on our Site. In addition, we may use cookies to display relevant advertising or recommendations to you
        when you visit our Site. You are free to decline cookies, but by doing so, you may not be able to use certain features on the Site,
        or take full advantage of all of our offerings. Check the "Help" menu of your browser to learn how to change your cookie
        preferences.
    </p>


    <h4 class="m-t-30">USE AND DISCLOSURE OF INFORMATION</h4>
    <h5 class="m-t-20">Affiliate and Non-Affiliate Use</h5>

    <p> The personal information we collect comes from the following sources: </p>

    <p>
    </p><ol type="a" start="1">
        <li>Information we receive from you, such as your name, address, and telephone number;</li>
        <li>Information about your transactions with us, such as your loan balances, payment history, and loan activity; and</li>
        <li>Information we receive about you from other sources, such as your employer or other third parties.</li>
    </ol>
    <p></p>

    <p> We may disclose any of the above information that we collect to affiliates and nonaffiliated third parties as described below. </p>


    <h5 class="m-t-30">Affiliates to Whom We May Disclose Personal Information</h5>
    <p>
        Our affiliates are the family of companies controlling, controlled by, or under common control with BMG. We may disclose your
        personal information to affiliates in several different businesses, including banking, consumer finance, insurance and securities.
        Our affiliates include those doing business under the BMG name, such as LoansAtWork. Our ability to share information with our
        affiliates helps us provide you with quality products and services. Unless otherwise permitted by law, you may opt out of having us
        disclose other information that you provide to us, or that we obtain from third parties (i.e., your employer), to our affiliates by
        contacting us directly at <a href="mailto:optout@bmgmoney.com"> optout@bmgmoney.com </a> or calling 1-800-316-8507.
    </p>


    <h5 class="m-t-30">Nonaffiliated Third Parties to Whom We May Disclose Personal Information</h5>
    <p>
        Nonaffiliatedthird parties are those not part of the family of companies controlling, controlled by, or under common control with
        BMG. We may disclose personal information (except your account number and/or access codes) about you to the following types of
        nonaffiliated third parties: (1) Financial services providers, such as companies engaged in banking, credit cards, consumer finance,
        securities, and insurance businesses; and (2) Non-financial companies, such as companies engaged in direct marketing, or consumer
        products and services. However, you may choose to opt out of having your personal information disclosed to nonaffiliated third
        parties by contacting us directly at <a href="mailto:optout@bmgmoney.com"> optout@bmgmoney.com </a> or calling 1-800-316-8507.
    </p>

    <p>
        <em>Uses by BMG.</em> BMG may use the personal information you provide through the Site in a manner that is consistent with this
        Privacy Policy and as permitted by law. We use the information collected through the Site for statistical purposes, for improving
        the Site, for providing BMG services, and for marketing.
    </p>

    <p>
        We may disclose PII in order to respond to a subpoena, court order, law enforcement agency request, or as required by law.
        We may also disclose your personal information to third parties as permitted by law, such as disclosures necessary to
        process and service your loan or loans, to protect against fraud, and to protect the security or confidentiality of our records.
    </p>

    <p>
        We may provide your PII to a third party if we file for bankruptcy, or there is a transfer of our assets or ownership in
        connection with proposed or consummated corporate reorganizations, such as mergers, acquisitions or sales of business units.
    </p>

    <p>
        <em>Uses by Third Parties.</em> We do not provide your PII to third parties for their marketing purposes without your prior request
        or consent. BMG works closely with certain businesses to provide you with products and services. These businesses may occasionally,
        make special offers available to BMGâs Site customers. If you request to receive information about these offers, we will share your
        personal information with these companies so that they can send you details about special offers. You should know in advance, each of
        these companies has its own policies with respect to the collection and use of personal information. BMG is not responsible for third
        party use of your information.
    </p>


    <h4 class="m-t-30">INFORMATION SECURITY</h4>
    <p>
        We take reasonable steps to protect the personal information submitted to us, both during transmission and once it is received.
        However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, while we strive to
        protect your personal information, we cannot guarantee its absolute security. You are responsible for maintaining the confidentiality
        of your login information, including user name and password. You are responsible for all uses of your password, whether or not
        authorized by you. You must inform us immediately of any unauthorized online access of your user name or password.
    </p>


    <h4 class="m-t-30">OTHER WEBSITES</h4>
    <p>
        Please be aware that our Site may contain links to other sites on the Internet that are owned and operated by third parties. The
        information practices of linked websites are not covered by this Privacy Policy. BMG is not responsible for the privacy policies
        of the websites to which this Site links. If you provide any information to third parties, different rules regarding the collection
        and use of your PII may apply. We strongly suggest you review third party privacy policies before providing your personal information.
    </p>


    <h4 class="m-t-30">CHILDREN</h4>
    <p>
        BMG understands the importance of protecting childrenâs privacy in the online world. The Site covered by this Privacy Policy is
        neither designed for, nor intentionally targeted to children 17 years of age or younger. It is not our policy to intentionally
        collect or maintain information about anyone 17 years of age or younger.
    </p>


    <h4 class="m-t-30">INQUIRIES, CORRECTIONS AND COMPLAINTS</h4>
    <p>
        You are responsible for ensuring that the personal information you have submitted or access through the Site is accurate and
        complete. Please contact us immediately if you notice suspicious account activity, or changes to your profile you did not request.
    </p>

    <p>
        Please feel free to contact us with any comments, questions or suggestions you might have regarding the information practices
        described in this Privacy Policy. You may contact us from the Contact Us menu within the Site, or write to us at:
    </p>

    <p> 1221 Brickell Avenue, Suite 1170 </p>

    <p>Miami, FL 33131</p>

    <p>Attn: Web Privacy Policy</p>

    <p>
        If you wish to modify or update any information we have received, please contact us at:
        <a href="mailto:profile@bmgmoney.com">profile@bmgmoney.com</a>.
    </p>


    <h4 class="m-t-30">MODIFICATIONS OF THE WEB PRIVACY POLICY</h4>
    <p>
        We reserve the right to modify this Privacy Policy at any time, and at our sole discretion. When we make changes to this
        Privacy Policy, we will alert you that changes have been made by indicating the date the Privacy Policy was last updated.
        When you visit our Site, or use our services, you are accepting the current version of this Privacy Policy as posted on the Site.
        We encourage you to frequently review the Privacy Policy for any modifications.
    </p>

    <p>
        <em>Effective Date:</em> September 13<sup>th</sup>, 2010
    </p>

  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>