<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 hidden-lg-down">
  <div class="row">
    <div class="col-xl-12">
      <div class="card  blue-grey">
        <div class="card-body">
          <div class="card-block">
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-divider">
                      <img src="assets/images/icons/information.png" *ngIf="currentStep.step != 'debit-card'" />
                      <img src="assets/images/icons/bank.png" *ngIf="currentStep.step == 'debit-card'" />

                      <h4 class="card-title job" *ngIf="currentStep.step == 'loan-terms'">Check your loan terms</h4>
                      <h4 class="card-title job" *ngIf="currentStep.step == 'personal-information'">Let's get started!</h4>
                      <h4 class="card-title job" *ngIf="currentStep.step == 'debit-card' && !dibursementMethodActive">Check your payment method</h4>
                      <h4 class="card-title job" *ngIf="currentStep.step == 'debit-card' && dibursementMethodActive">Check your loan funding method</h4>
                      <h4 class="card-title job" *ngIf="currentStep.step == 'bank-information'">Check your bank informations</h4>
                      <h4 class="card-title job" *ngIf="currentStep.step == 'pending-documents'">We're almost there...</h4>
                    </div>
                  </div>
                </div>

                <ul class="vert-wizard">

                  <!-- Loan terms -->
                  <li *ngIf="currentStep.step == 'loan-terms'"
                    [ngClass]="(currentStep == 'loan-terms') ? 'current' : ''">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="vert-wizard-step">1</div>
                        <h4>Loan terms</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="p-10">
                          <p>Please review the terms and conditions</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li *ngIf="currentStep.stepNumber > 1" class="done">
                    <div class="vert-wizard-step">
                      <i class="fa fa-user ico-wizard"></i>
                      <i class="fa fa-check ico-done"></i>
                    </div>
                    <h4>Loan terms</h4>
                  </li>

                  <!-- Personal information -->
                  <li *ngIf="currentStep.step == 'personal-information'"
                    [ngClass]="(currentStep.step == 'personal-information') ? 'current' : ''">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="vert-wizard-step">2</div>
                        <h4>Tell us about yourself</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="p-10">
                          <p>Hello {{user.first_name}}, we need some information about you and your job to move foward
                            with your application.</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li *ngIf="currentStep.step != 'personal-information' && currentStep.stepNumber < 2">
                    <div class="vert-wizard-step">2</div>
                    <h4>Tell us about yourself</h4>
                  </li>
                  <li *ngIf="currentStep.stepNumber > 2" class="done">
                    <div class="vert-wizard-step">
                      <i class="fa fa-user ico-wizard"></i>
                      <i class="fa fa-check ico-done"></i>
                    </div>
                    <h4>Tell us about yourself</h4>
                  </li>

                  <!-- Debit card -->
                  <li *ngIf="currentStep.step == 'debit-card' && payNearMeRuleIsParameterized"
                    [ngClass]="(currentStep.step == 'debit-card') ? 'current' : ''">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="vert-wizard-step">3</div>
                        <h4 *ngIf="!dibursementMethodActive">Payment method</h4>
                        <h4 *ngIf="dibursementMethodActive">Loan funding method</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="p-10">
                          <p>Please input your debit card information</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li
                    *ngIf="currentStep.step != 'debit-card' && currentStep.stepNumber < 4 && payNearMeRuleIsParameterized">
                    <div class="vert-wizard-step">3</div>
                    <h4 *ngIf="!dibursementMethodActive">Payment method</h4>
                    <h4 *ngIf="dibursementMethodActive">Loan funding method</h4>
                  </li>
                  <li *ngIf="currentStep.stepNumber > 4 && payNearMeRuleIsParameterized" class="done">
                    <div class="vert-wizard-step">
                      <i class="fa fa-user ico-wizard"></i>
                      <i class="fa fa-check ico-done"></i>
                    </div>
                    <h4 *ngIf="!dibursementMethodActive">Payment method</h4>
                    <h4 *ngIf="dibursementMethodActive">Loan Funding method</h4>
                  </li>


                  <!-- Bank information -->
                  <li *ngIf="currentStep.step == 'bank-information'"
                    [ngClass]="(currentStep.step == 'bank-information') ? 'current' : ''">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="vert-wizard-step" *ngIf="!payNearMeRuleIsParameterized">3</div>
                        <div class="vert-wizard-step" *ngIf="payNearMeRuleIsParameterized">4</div>
                        <h4>Bank account</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="p-10">
                          <p *ngIf="!isRefiCashless">
                            Please provide us with your bank account information.
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li *ngIf="currentStep.step != 'bank-information' && currentStep.stepNumber < 5">
                    <div class="vert-wizard-step" *ngIf="!payNearMeRuleIsParameterized">3</div>
                    <div class="vert-wizard-step" *ngIf="payNearMeRuleIsParameterized">4</div>
                    <h4>Bank account</h4>
                  </li>
                  <li *ngIf="currentStep.stepNumber > 5" class="done">
                    <div class="vert-wizard-step">
                      <i class="fa fa-user ico-wizard"></i>
                      <i class="fa fa-check ico-done"></i>
                    </div>
                    <h4>Bank account</h4>
                  </li>

                  <!-- Pending Documents -->
                  <li *ngIf="currentStep.step == 'pending-documents'"
                    [ngClass]="(currentStep.step == 'pending-documents') ? 'current' : ''">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="vert-wizard-step" *ngIf="!payNearMeRuleIsParameterized">4</div>
                        <div class="vert-wizard-step" *ngIf="payNearMeRuleIsParameterized">5</div>
                        <h4>Upload your documents</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="p-10">
                          <p>
                            <b class="danger darken-1">*Your application will NOT be
                              reviewed until all required
                              documents have been submitted correctly.</b>
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li *ngIf="currentStep.step != 'pendind-documents' && currentStep.stepNumber < 6">
                    <div class="vert-wizard-step" *ngIf="!payNearMeRuleIsParameterized">4</div>
                    <div class="vert-wizard-step" *ngIf="payNearMeRuleIsParameterized">5</div>
                    <h4>Upload your documents</h4>
                  </li>
                </ul>


              </div>
            </div>


            <div class="row">
              <div class="col-xs-12">
                <hr />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="p-10 text-xs-center">
                  <app-footer-message></app-footer-message>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
