<ul class="p-l-15 list-unstyled">
    <li class="li-upload-documents">
        <div class="row">
            <div class="col-xs-12">
                <div class="m-b-5">
                    <h4 class="font-weight-bold">Bank Statement</h4>

                </div>
            </div>
        </div>
    </li>
</ul>
<div *ngIf="!connectPlaid && !documentsAlreadySaved">
    <div class="row" *ngIf="hasBankLink">
        <div class="col-xs-12 p-t-20">
            <div class="alert bg-success darken-1 bg-darken-4" role="alert">
                You have already linked your bank account! <br> No need to send your bank statement manually unless it's required by an underwriter
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!hasBankLink">
        <div class="col-xs-12">
            <div class="p-10">
                <span class="verification-info">
                    Connect your bank account instantly and securely <b><u>for a faster loan decision</u></b>
                    <br><br>
                    Link your bank account <b> <u>where you receive your
                            <span *ngIf="!retiredData?.isRetired">paycheck</span>
                <span *ngIf="retiredData?.isRetired">retirement Benefits</span></u>
                </b> so we can verify your bank account and deposit your loan
                </span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="p-10">
                <div>
                    <button class="btn btn-warning btn-darken-4 btn-lg btn-block" (click)="linkBankAccount()">Link Your
                        Bank
                        Account</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Or</span>
            </h6>
        </div>
        <div class="text-sm-center verification-change">
            <a (click)="onClickChangeManualy()" class="text-sm-center verification-change" data-id="show-upload-bank-statement-manually">
                Upload your last bank statement manually
            </a>
        </div>
    </div>
    <br>
    <br>
    <div *ngIf="allotmentManualyChange">
        <div class="row">
            <div class="col-xs-12 danger" *ngIf="hasRequestReason">
                <span><b>Instructions:</b></span>
                <ul class="p-l-20">
                    <li *ngFor="let request of requestReason">
                        {{request}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="m-b-5">Must meet the following criteria:</p>
                <ul>
                    <li>Last 90 days of transactions (your 3 most recent bank statements)</li>
                    <li>Full name, date, and account number must be visible</li>
                    <li>Provide statement reflecting the direct deposit from your employer</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="center">
                    <ngx-file-drop [dropZoneLabel]="dropfileText" customstyle="drop-zone-custom" (onFileDrop)="fileDropped($event)" (click)="fileInput(fileInputId);">
                        <span></span>
                    </ngx-file-drop>
                    <input type="file" data-id="txt_file_6" [id]="fileInputId" (change)="onSelectFile($event.target.files)" style="display:none;" accept=".pdf,.PDF,.jpg,.JPG,.jpeg,.JPEG,.png,.PNG" [name]="fileInputIdDocumentType">
                    <span class="error-message" *ngIf="invalidFormat">Invalid format. Please provide a jpg, png or
                        pdf</span>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <div *ngIf="documentsAlreadySaved || connectPlaid">
                <div *ngFor="let doc of bankStatementsList">
                    <div class="m-t-10 m-b-10" *ngIf="doc.uploaded || doc.document_setted_with_vendor ||  doc.document_setted_with_plaid">
                        <span class="tag tag-primary tag-uploaded darken-4 resp-w-100 m-r-5" *ngIf="(doc.uploaded && doc.review_status !== '0' && doc.review_status !== '1') || doc.document_setted_with_vendor || doc.document_setted_with_plaid">
                            <i class="fa fa-check"></i> Uploaded
                        </span>
                        <span class="tag tag-danger tag-uploaded darken-4 resp-w-100 m-r-5" *ngIf="doc.uploaded && doc.review_status === '0'">
                            <i class="fa fa-times"></i> Declined
                        </span>
                        <span class="tag tag-success tag-uploaded darken-4 resp-w-100 m-r-5" *ngIf="doc.uploaded && doc.review_status === '1'">
                            <i class="fa fa-check"></i> Accepted
                        </span>
                        <a class="link-default" *ngIf="!doc.document_setted_with_vendor && !doc.document_setted_with_plaid" class="btn btn-secondary btn-sm resp-w-100 m-r-5" href="javascript:void(0);" (click)="viewDocument(doc.id)">View
                            document</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row item-upload-documents"></div>
<app-preview-modal #previewModal (confirm-preview)='saveFile($event)'></app-preview-modal>
<app-open-banking #openBankingComponent [step]="step" (openBankinCallback)="openBankinCallback($event)"></app-open-banking>