<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Delaware Schedule of Charges as of September 1, 2021</h4>
      </div>
      <div class="card-body collapse in">
        <div class="card-block p-t-0">
          <form (ngSubmit)="onSubmit()" #mirandaForm="ngForm">
          <p>Loans are made by BMG LoansAtWork, LLC</p>
          <p></p>
          <ul>
            <li><u>Delaware Residents</u>: These charges apply only to loans made to Delaware residents.</li>
            <li><u>Loan Type Offered</u>: Closed-end interest bearing personal loan.</li>
            <li><U>Annual Interest Rate</U>: {{entity_info.apr}}%</li>
            <li><U>Fees</U>:
              <ul>
                <li><u>Origination Fee</u>: ${{entity_info.fee}}</li>
                <li><u>Late Charge</u>: {{entity_info.late_charge}}% of the amount in default</li>
                <li><u>Returned Check Fee</u>: ${{entity_info.returned_check_fee}}</li>
              </ul>
            </li>
          </ul>
          <p></p>
          <div class="row">
            <div class="col-xs-12">
               <div class="checkbox cr-alt">
                   <label>
                     <input type="checkbox"
                       name="agreed"
                       [(ngModel)]="model.agreed"
                       #agreed="ngModel"
                       required>
                     <i class="input-helper"></i>
                     Check here to acknowledge receipt and continue application
                   </label>
                 </div>
               <div *ngIf="!agreed.valid && agreed.touched" class="help-block font-small-3">
                   <span class="error-message" *ngIf="agreed.errors.required">You must check the box to move foward</span>
               </div>
            </div>
          </div>

          <div class="row m-t-15">
            <div class="col-xs-12 col-md-6 col-lg-3">
              <button type="submit" class="btn btn-warning btn-darken-4 btn-block">Next</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>