<ng-template #plaidSelectBankModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4>Select Bank Account</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Select the account where you want to receive your funds
        <div class="form-group">
                <select id="plaid_account" name="plaid_amount" class="form-control form-control-lg form-control-loan-amount success darken-4"
                    [(ngModel)]="selected_account">
                    <option *ngFor="let item of accounts" [ngValue]="item">{{item.name}} ({{item.account_number}})</option>
                </select>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
</ng-template>