<div class="app-content content container-fluid">
  <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
          <section class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12 p-0">
              <div class="card border-grey border-lighten-3 px-2 py-2 row mb-0">
                  <div class="card-header no-border p-0">
                      <div class="card-title text-xs-center">
                        <img src="https://cdn.bmgmoney.com/logo/bmgmoney_Logo_RGB__Orange-Purple_Large.png" alt="branding logo" class="logo">
                      </div>

                  </div>
                  <div class="card-body collapse in">
                      <div class="card-block card-login-padding">
                          <form class="form-horizontal" (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
                            <div class="row">
                              <div class="col-xs-12">
                                  <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Reset your password</span></h6>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12">
                                <p>Enter the email address associated with your account, and we’ll email you a link to reset your password.</p>
                              </div>
                            </div>
                            
                            <div class="row">
                                  <div class="col-xs-12">
                                      <fieldset class="form-group position-relative has-icon-left" [ngClass]="{'has-error': !email.valid && email.touched && showValidation }">
                                          <input 
                                            type="text"  
                                            id="email" 
                                            class="form-control input-lg" 
                                            placeholder="Email" 
                                            tabindex="1" 
                                            [(ngModel)]="model.email" name="email"
                                            #email="ngModel"
                                            required
                                            email
                                            maxlength="100"
                                            appAutofocus>
                                          <div class="form-control-position">
                                              <i class="ft-mail"></i>
                                          </div>
                                          <div *ngIf="!email.valid && email.touched && showValidation" class="help-block font-small-3">
                                             <span class="error-message" *ngIf="email.errors.required">Email is required</span>
                                             <span class="error-message" *ngIf="email.errors.email && email.touched && !email.errors.required">Please provide a valid email</span> 
                                          </div>
                                          
                                      </fieldset>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-12">
                                      <button type="submit" class="btn btn-warning btn-darken-4 btn-lg btn-block" tabindex="3">Send reset link</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="card-footer">
                      <div class="">
                          <p class="float-sm-right text-xs-center m-0"><a href="#" (click)="redirectToLogin()" class="card-link">Back to login</a></p>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
</div>