<ng-template #termsModal size="lg" let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Terms of Use</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      BMG Money, Inc.'s ("BMG", "us", "we") terms and conditions below (the or these "Terms of Use") govern your access to and
      use of BMG's website (the "Site") and online services provided by BMG (the "Services"). The Terms of Use constitute
      a legal agreement between you and BMG. You agree to the Terms of Use by accessing or using the Site. Do not access
      or use the Site if you are unwilling or unable to be bound by the Terms of Use. In addition to these Terms of Use,
      you may enter into other, separate agreements with BMG or others that will govern your use of the Services or other
      related services offered by us or others. If there is any contradiction between these Terms of Use and another agreement
      you enter into applicable to specific aspects of the Services, the other agreement shall take precedence in relation
      to the specific aspects of the Services to which it applies. As used herein, "Users" means anyone who accesses and/or
      uses the Site.
    </p>


    <h4 class="m-t-30">1. CHANGES TO THE TERMS OF USE</h4>
    <p>
      We may modify the Terms of Use from time to time. When changes are made, we will notify you by making the revised version
      available on this webpage and will indicate at the top of this page the date that revisions were last made. You should
      revisit these Terms of Use on a regular basis as revised versions will be binding on you. Any such modification will
      be effective upon our posting of new Terms of Use. You understand and agree that your continued access to or use of
      the Site after any posted modification to the Terms of Use indicates your acceptance of the modification.
    </p>


    <h4 class="m-t-30">2. ELIGIBILITY</h4>
    <p>
      This Site is intended solely for users who are eighteen (18) years of age or older, and any registration by, use of or access
      to the Site by anyone under 18 is unauthorized, unlicensed and in violation of these Terms of Use. By using the Site,
      you represent and warrant that you are 18 or older and you agree to, and to abide by and cause any third party acting
      on your behalf to abide by, all of the terms and conditions of these Terms of Use.
    </p>


    <h4 class="m-t-30">3. USER ACCOUNTS</h4>
    <p>
      In consideration of your use of the Site, you agree to (a) provide accurate, current and complete information about you as
      may be prompted by any registration forms on the Site ("Registration Data"); (b) maintain the security of your password
      and identification; (c) maintain and promptly update the Registration Data, and any other information you provide to
      BMG, to keep it accurate, current and complete; and (d) be fully responsible for all use of your account and for any
      actions that take place using your account. You agree to notify us immediately of any unauthorized use of your online
      account. We reserve the right to close your online account at any time for any or no reason. You will use your online
      account for your personal, non-commercial use only. You may not impersonate someone else, create an online account
      for anyone other than yourself, provide an email address other than your own, or create multiple online accounts.
    </p>


    <h4 class="m-t-30">4. PROPRIETARY RIGHTS IN SITE CONTENT</h4>
    <p>
      All content on the Site, including but not limited to designs, text, graphics, pictures, video, information, product terms
      and descriptions, software, music, sound and other files, and their selection and arrangement (the "Site Content"),
      are the proprietary property of BMG with all rights reserved. No Site Content may be modified, copied, distributed,
      framed, reproduced, republished, downloaded, displayed, posted, transmitted, or sold in any form or by any means, in
      whole or in part, without BMG's prior written permission, except as provided in the following sentence and except that
      the foregoing does not apply to Your Content (as defined below) that you legally post on the Site. Provided that you
      are eligible for use of the Site, you are granted a limited license to access and use the Site and to download or print
      a copy of any portion of the Site Content solely for your personal use, provided that you keep all copyright or other
      proprietary notices intact. Except for Your Content (as defined below), you may not republish Site Content on any Internet,
      Intranet or Extranet site or incorporate the information in any other database or compilation, and any other use of
      the Site Content is strictly prohibited. Such license is subject to these Terms of Use and does not include use of
      any data mining, robots or similar data gathering or extraction methods. Any use of the Site or the Site Content other
      than as specifically authorized herein, without the prior written permission of BMG, is strictly prohibited and will
      terminate the license granted herein. Such unauthorized use may also violate applicable laws, including, without limitation,
      copyright and trademark laws and applicable communications regulations and statutes. Unless explicitly stated herein,
      nothing in these Terms of Use shall be construed as conferring any license to intellectual property rights, whether
      by estoppel, implication or otherwise. This license is revocable by us at any time without notice and with or without
      cause.
    </p>

    <h4 class="m-t-30">5. TRADEMARKS</h4>
    <p>
      BMG graphics, logos, designs, page headers, button icons, scripts and service names are registered trademarks, trademarks
      or trade dress of BMG in the United States and/or other countries. BMG trademarks (including, without limitation, "LoansAtWork")
      and trade dress, and any derivatives thereof, may not be used, including as part of trademarks and/or as part of domain
      names, in connection with any product or service in any manner that is likely to cause confusion and may not be copied,
      imitated, or used, in whole or in part, without the prior written permission of BMG.
    </p>

    <h4 class="m-t-30">6. RESTRICTIONS ON USE</h4>
    <p>
      You represent, warrant and agree that no materials of any kind submitted through your account or otherwise posted or shared
      by you through the Services will violate or infringe upon the rights of any third party, including copyright, trademark,
      patent, trade secret, moral right, privacy, publicity or other personal or proprietary rights; or contain libelous,
      defamatory or otherwise unlawful material. You further agree not to harvest or collect email addresses or other contact
      information of Users from the Services or the Site by electronic or other means for the purposes of sending unsolicited
      emails or other unsolicited communications. Additionally, you agree not to use automated scripts to collect information
      from the Services or the Site or for any other purpose. You further agree that you may not use the Services or the
      Site in any unlawful manner or in any other manner that could damage, disable, overburden or impair the Site. Without
      limiting the foregoing general restrictions, you agree not to:
    </p>

    <ol type="a" start="1">
      <li>
        use the Site or the Services to threaten, stalk, defraud, incite, harass, or advocate the harassment of another person, or
        otherwise interfere with another User's use of the Site or the Services;
      </li>
      <li>
        use the Site or the Services to submit or transmit spam, chain letters, contests, junk email, pyramid schemes, surveys, or
        other mass messaging, whether commercial in nature or not;
      </li>
      <li>
        use the Site or the Services for promotional or commercial purposes, except as expressly allowed in writing by BMG;
      </li>
      <li>
        use the Site or the Services for keyword spamming or to otherwise attempt to manipulate natural search results;
      </li>
      <li>
        use the Site or the Services to promote bigotry or discrimination against protected classes;
      </li>
      <li>
        use the Site or the Services to submit or transmit pornography or illegal content;
      </li>
      <li>
        use the Site or the Services to solicit personal information from minors or to harm or threaten to cause harm to minors;
      </li>
      <li>
        use the Site or the Services in violation of the Terms of Use or any applicable law;
      </li>
      <li>
        modify, adapt, appropriate, reproduce, distribute, translate, create derivative works or adaptations of, publicly display,
        sell, trade, or in any way exploit the Site or Site Content (other than Your Content), except as expressly authorized
        by BMG in writing;
      </li>
      <li>
        reverse engineer any portion of the Site or the Services;
      </li>
      <li>
        remove or modify any copyright, trademark or other proprietary rights notice on the Site or on any materials printed or copied
        off of the Site;
      </li>
      <li>
        record, process, or mine information about other Users;
      </li>
      <li>
        use any robot, spider, site search/retrieval application, or other automated device, process or means to access, retrieve,
        scrape, or index the Site or any Site Content;
      </li>
      <li>
        access, retrieve or index the Site for purposes of constructing or populating a searchable database of business reviews;
      </li>
      <li>
        reformat or frame any portion of the Site;
      </li>
      <li>
        take any action that imposes, or may impose in BMG's sole discretion, an unreasonable or disproportionately large load on
        BMG's technology infrastructure;
      </li>
      <li>
        attempt to gain unauthorized access to the Site, User accounts, computer systems or networks connected to the Site through
        hacking, password mining or any other means; use the Site or any Site Content to transmit any computer viruses, worms,
        defects, Trojan horses or other items of a destructive nature (collectively, "Viruses"); use any device, software
        or routine that interferes with the proper working of the Site, or otherwise attempt to interfere with the proper
        working of the Site; make excessive traffic demands; use the Site to violate the security of any computer network,
        crack passwords or security encryption codes; disrupt or interfere with the security of, or otherwise cause harm
        to, the Site or Site Content; remove, circumvent, disable, damage or otherwise interfere with any security-related
        features of the Site, features that prevent or restrict the use or copying of Site Content, or features that enforce
        limitations on the use of the Site;
      </li>
      <li>
        impersonate any person or entity, or falsely state or otherwise misrepresent yourself, your age or your affiliation with
        any person or entity; or
      </li>
      <li>
        except as expressly requested by BMG, upload, post, transmit, share, store or otherwise make publicly available on the Site
        any private information of any third party, including, without limitation, addresses, phone numbers, email addresses,
        Social Security numbers and credit card numbers.
      </li>
    </ol>

    <p>
      The restrictions above only apply to the extent permissible under applicable law. Nevertheless, you agree not to act contrary
      to them (even if permissible under applicable law) without providing 30 days' prior written notice to us here
      <a href="mailto:customer.service@bmgmoney.com">customer.service@bmgmoney.com</a>, together with any information that we may reasonably require
      to give us an opportunity
      to provide alternative remedies or otherwise accommodate you at our sole discretion.
    </p>


    <h4 class="m-t-30">7. RESPONSIBILITY OF YOUR CONTENT</h4>
    <p>
      You are solely responsible for any information or other content that you upload, publish, provide or display on or through
      the Services or the Site (collectively, "Your Content"). You assume all risks associated with Your Content, including
      anyone's reliance on its accuracy, completeness or usefulness. You represent that you own, or have the necessary permissions
      to use, and authorize the use of, Your Content as described herein.
    </p>

    <h4 class="m-t-30">8. CONSENT TO ELECTRONIC TRANSACTIONS AND DISCLOSURES</h4>
    <p>
      Because BMG operates on the Internet, it is necessary for you to consent to transact business with us online and electronically.
      As part of doing business with us, we need you to consent to our giving you certain Disclosures (as defined below)
      electronically, either via the Site or to the email address you provide to us. By agreeing to the Terms of Use, you
      agree to receive electronically all documents, communications, notices, contracts, and agreements, including any IRS
      Form 1099 (as defined below), arising from or relating to any loans you may request or receive from BMG, your registration
      on the Site, your use of the Services, or the servicing, administration and collection of any loan(s) you may receive
      from BMG (each, a "Disclosure") and that one or more of your agreements with BMG (including any promissory note) may
      be signed by you electronically and evidenced solely by one (1) or more electronic records. An IRS Form 1099 refers
      to any Form 1099 or other Form, Schedule or information statement, including corrections of such documents, required
      to be provided pursuant to U.S. Internal Revenue Service rules and regulations and that may be provided electronically
      (each, an "IRS Form 1099"). The decision to do business with us electronically is yours.
    </p>

    <p>
      <i>Electronic Communications.</i> Any Disclosures will be provided to you electronically through loansatwork.com either
      on our Site or via electronic mail to the verified email address you provided. If you require paper copies of such
      Disclosures, you may write to us at the mailing address provided below and a paper copy will be sent to you at a cost
      of up to $5.00. If you do not consent to receive an IRS Form 1099 electronically when you agree to these Terms of Use
      or subsequently revoke such consent, a paper copy of any IRS Form 1099 required to be delivered to you after the effective
      time of your failure to consent or revocation of consent will be sent to you at no cost. However, a fee may be charged
      for any additional or replacement copies of such IRS Form 1099. We may discontinue electronic provision of Disclosures
      at any time in our sole discretion.
    </p>

    <p>
      <i>Scope of Consent.</i> Your consent to receive Disclosures and sign agreements and otherwise transact business electronically,
      and our agreement to do so, applies to any transactions to which such Disclosures and agreements relate between you
      and BMG. Your consent will remain in effect for so long as you are a User and, if you are no longer a User, will continue
      until such a time as all Disclosures relevant to transactions that occurred while you were a User have been made. In
      addition, if your consent to receive Disclosures and sign agreements and otherwise transact business with us electronically
      ceases to be effective, your consent to do so will nevertheless continue to apply to all agreements you signed electronically
      while your consent remained in effect.
    </p>

    <p>
      <i>Consenting to Do Business Electronically.</i> Before you decide to do business electronically with BMG, you should
      consider whether you have the required hardware and software capabilities described below.
    </p>

    <p>
      <i>Hardware and Software Requirements.</i> In order to access and retain Disclosures and sign agreements electronically,
      you must satisfy the following computer hardware and software requirements: access to the Internet; an email account
      and related software capable of receiving email through the Internet; a web browser which is SSL-compliant and supports
      secure sessions, such as Internet Explorer 7.0 or above, or the equivalent software; and hardware capable of running
      this software.
    </p>

    <p>
      <i>Withdrawing Consent.</i> You may withdraw your consent to receive Disclosures and sign agreements electronically by
      contacting us at the address below. However, once you have withdrawn your consent you will not be able to apply for
      loans on the Site or use the Services. If you have already received one or more loans and electronically executed one
      or more promissory notes or other agreements or instruments relating to such loans, all previously agreed to terms
      and conditions will remain in effect with respect to such loans, promissory notes and other agreements, and we will
      send Disclosures with respect to such loans to your verified home address provided during registration.
    </p>

    <p>
      If you withdraw your consent to receive IRS Forms 1099 electronically, we will confirm your withdrawal and its effective
      date in writing by email. Such withdrawal will take effect for the calendar year in which it is made so long as such
      withdrawal is made before November 1 of such calendar year.
    </p>

    <p>
      <i>How to Contact Us Regarding Electronic Disclosures.</i> You can contact us via email at
      <a href="mailto:terms@bmgmoney.com">terms@bmgmoney.com</a> or by calling 1-800-316-8507. You may also reach us in writing to us at the following
      address:
      BMG Money Inc., 1221 Brickell Avenue, Suite 1170, Miami, FL 33131
    </p>

    <p>
      You will keep us informed of any change in your email or home mailing address so that you can continue to receive all Disclosures
      in a timely fashion. If your registered email address changes, you must notify us of the change by sending an email
      to
      <a href="mailto:profile@bmgmoney.com">profile@bmgmoney.com</a> or calling 1-800-316-8507. You also agree to update your registered residence
      address and
      telephone number on the Site if they change.
    </p>

    <p>
      You will print a copy of this agreement for your records and you agree and acknowledge that you can access, receive and retain
      all Disclosures electronically sent via email or posted on the Site and agreements signed electronically through the
      Site and/or the Services.
    </p>


    <h4 class="m-t-30">9. PRIVACY</h4>
    <p> For information about how we handle your personal information, please read our Privacy Policy.</p>


    <h4 class="m-t-30">10. SITE AVAILABILITY</h4>
    <p>
      We reserve the right to modify, update, or discontinue the Site and/or the Services at our sole discretion, at any time,
      for any or no reason, and without notice or liability.
    </p>


    <h4 class="m-t-30">11. UNAUTHORIZED ACCESS</h4>
    <p>
      We reserve the right to exercise whatever lawful means we deem necessary to prevent unauthorized access to or use of the
      Site and/or the Services, including, but not limited to, technological barriers, IP mapping, and contacting your Internet
      Service Provider (ISP) regarding such unauthorized use.
    </p>


    <h4 class="m-t-30">12. TERMINATION</h4>
    <p>
      We may terminate or suspend your online account or ability to use the Site and/or the Services, in whole or in part, at our
      sole discretion, for any or no reason, and without notice or liability of any kind. For example, we may terminate or
      suspend your online account or ability to use the Site and/or the Services if you misuse the Site and/or the Services.
      Any such termination or suspension could prevent you from accessing your online account, the Site, the Services, Your
      Content, Site Content, or any other related information.
    </p>

    <h4 class="m-t-30">13. WARRANTIES, DISCLAIMERS, AND LIMITATION OF LIABILITY</h4>
    <ol type="a" start="1">
      <li>
        THE SITE, THE SERVICES AND ALL SITE CONTENT ARE MADE AVAILABLE TO YOU ON AN "AS IS" BASIS. BMG MAKES NO WARRANTIES, REPRESENTATIONS,
        OR CONDITIONS OF ANY KIND, EXPRESS, STATUTORY OR IMPLIED AS TO (1) THE OPERATION AND FUNCTIONALITY OF THE SITE AND/OR
        THE SERVICES, (2) THE ACCURACY, INTEGRITY, COMPLETENESS, QUALITY, LEGALITY, USEFULNESS, SAFETY, AND IP RIGHTS OF
        ANY OF THE SITE CONTENT, AND/OR (3) THE PRODUCTS AND SERVICES ASSOCIATED WITH THE SITE OR SITE CONTENT. BMG FURTHER
        DISCLAIMS ALL WARRANTIES, EXPRESS, STATUTORY, OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY,
        MERCHANTABLE QUALITY, DURABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
      </li>
      <li>
        BMG DISCLAIMS ALL LIABILITY FOR ANY (1) INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, RELIANCE, OR CONSEQUENTIAL DAMAGES,
        (2) LOSS OF PROFITS, OR (3) LOSS OF INFORMATION OR DATA.
      </li>
      <li>
        BMG FURTHER DISCLAIMS ALL LIABILITY FOR ANY LOSS OR DAMAGE ARISING OUT OF YOUR USE OF THE SITE, THE SERVICES AND SITE CONTENT.
        YOUR USE OF THE SITE, THE SERVICES AND SITE CONTENT IS AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE
        FOR ANY RESULTING LOSS OR DAMAGE, INCLUDING BUT NOT LIMITED TO ANY LOSS OF DATA OR DAMAGE TO YOUR COMPUTER FROM VIRUSES
        THAT MAY BE DOWNLOADED TO YOUR COMPUTER IN THE COURSE OF USING THE SITE AND/OR THE SERVICES.
      </li>
      <li>
        YOUR SOLE AND EXCLUSIVE RIGHT AND REMEDY IN CASE OF DISSATISFACTION WITH THE SITE AND/OR THE SERVICES OR ANY OTHER GRIEVANCE
        SHALL BE YOUR TERMINATION AND DISCONTINUATION OF ACCESS TO, OR USE OF, THE SITE AND/OR THE SERVICES.
      </li>
    </ol>


    <h4 class="m-t-30">14. THIRD PARTIES</h4>
    <p>
      The Site may include links to other websites (each, a "Third Party Site"). We do not control or endorse any Third Party Site,
      and you agree that we are not responsible for the availability or contents of such Third Party Sites. Some of the services
      made available through the Site may be provided in connection with third parties and subject to additional terms posted
      on Third Party Sites, which terms are incorporated herein by reference. If you decide to leave the Site and access
      the Third Party Sites, you do so at your own risk and you should be aware that our terms and policies no longer govern.
      You should review the applicable terms and policies, including privacy and data gathering practices, of any site to
      which you navigate from the Site.
    </p>


    <h4 class="m-t-30">15. SUGGESTIONS AND IMPROVEMENTS</h4>
    <p>
      By sending us any ideas, suggestions, documents or proposals ("Feedback"), you agree that (a) your Feedback does not contain
      the confidential or proprietary information of third parties, (b) we are under no obligation of confidentiality, express
      or implied, with respect to the Feedback, (c) we may have something similar to the Feedback already under consideration
      or in development, and (d) you grant us an irrevocable, non-exclusive, royalty-free, perpetual, worldwide license to
      use, modify, publish, distribute and sublicense the Feedback.
    </p>


    <h4 class="m-t-30">16. MISCELLANEOUS</h4>
    <ol type="a" start="1">
      <li>
        By visiting or using the Site and/or the Services, you agree that the laws of the State of Florida, without regard to any
        principles of conflict of laws that would require or permit the application of the laws of any other jurisdiction,
        will govern the Terms of Use.
      </li>
      <li>
        No agency, partnership, joint venture, or employment relationship is created as a result of the Terms of Use, and you do
        not have any authority of any kind to bind us in any respect whatsoever.
      </li>
      <li>
        We may provide you with notices, including those regarding changes to the Terms of Use, by email, regular mail or postings
        on the Site.
      </li>
      <li>
        By using the Site and/or the Services, you hereby give express consent for us to provide information about the status of your loan
        application,
        such as whether you applied for a loan with us or received a loan from us, to a person who referred you to us.
      </li>
      <li>
        The Terms of Use contain the entire agreement between you and us regarding the use of the Site and the Services, and supersede
        any prior agreement between you and us on such subject matter. The parties acknowledge that no reliance is placed
        on any representation made but not expressly contained in the Terms of Use.
      </li>
      <li>
        Any failure on our part to exercise or enforce any right or provision of the Terms of Use shall not constitute a waiver of
        such right or provision. The failure of either party to exercise in any respect any right provided for herein shall
        not be deemed a waiver of any further rights hereunder.
      </li>
      <li>
        If any provision of the Terms of Use is found to be unenforceable or invalid, that provision shall be limited or eliminated
        to the minimum extent necessary so that the Terms of Use shall otherwise remain in full force and effect and enforceable.
      </li>
      <li>
        The Terms of Use are not assignable, transferable or sublicensable by you except with BMG's prior written consent, but may
        be assigned or transferred by us without restriction. Any assignment attempted to be made in violation of the Terms
        of Use shall be void.
      </li>
      <li>
        The section titles in the Terms of Use are for convenience only and have no legal or contractual effect.
      </li>
    </ol>


    <h4 class="m-t-30">17. CONTRACT AND VIOLATIONS</h4>
    <p>
      Please contact us with any questions regarding the Terms of Use. Please report any violations of the Terms of Use to our
      legal department through the contacts page.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>