<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Credit Education</h4>
      </div>
      <div class="card-body collapse in">
        <div class="card-block p-t-0">
          <form (ngSubmit)="onSubmit()" #mirandaForm="ngForm">
          <p>BMG Money offers its prospective and current customers the
            <b>“BMG Money Credit Education Program,”</b>
            <i>(in English)</i>
            <u>free</u>, online at
            <a href="https://www.bmgmoney.com/credit-education/" target="_blank">https://www.bmgmoney.com/credit-education/</a> .</p>
          <hr>
          <p class="m-t-10 ">Please select the link below to acknowledge your receipt of the offer of the BMG Money Credit Education Program</p>
         <div class="row">
           <div class="col-xs-12">
              <div class="checkbox cr-alt">
                  <label>
                    <input type="checkbox"
                      name="agreed"
                      [(ngModel)]="model.agreed"
                      #agreed="ngModel"
                      required>
                    <i class="input-helper"></i>
                    <span class="c-red">*</span>
                    By checking the box, I confirm that I have been offered the BMG Money Credit Education Program, as of today’s date.
                  </label>
                </div>
              <div *ngIf="!agreed.valid && agreed.touched" class="help-block font-small-3">
                  <span class="error-message" *ngIf="agreed.errors.required">You must check the box to move foward</span>
              </div>
           </div>
         </div>

          <div class="row m-t-10 miranda-ca-form-wrapper">
            <div class="col-xs-12">
              <input type="text" class="form-control"
                [(ngModel)]="model.first_name_initial"
                name="first_name_initial"
                #first_name_initial="ngModel"
                required
                maxlength="1"
                (input)="onInput()">
              <input type="text" class="form-control"
                [(ngModel)]="model.last_name_initial"
                id="last_name_initial"
                name="last_name_initial"
                maxlength="1"
                #last_name_initial="ngModel"
                (input)="onInput()"
                required>
                <br class="hidden-sm-up">
              <span [ngClass]="{'danger darken-4': showError }" *ngIf="!isValid"> <span *ngIf="showError">*</span> Please enter your initials - first initial of your first and last name. </span>
              <span class="success darken-4" *ngIf="isValid"> <i class="fa fa-check"></i> OK</span>
            </div>
          </div>
          <div class="row m-t-15">
            <div class="col-xs-12 col-md-6 col-lg-3">
              <button type="submit" class="btn btn-warning btn-darken-4 btn-block">Next</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>