<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-xs-12">
        <h3 class="content-header-title mb-0">Documents</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard']">Home</a>
              </li>
              <li class="breadcrumb-item">
                <span>Documents</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="card card-responsive bg-white">
            <div class="card-body">
              <div class="card-block">
                <form class="form-horizontal">
                  <div class="row col-xs-12">
                    <app-upload-documents-generic (fileCallback)="fileCallback()" [upload-mode]="upload_mode"></app-upload-documents-generic>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Type</th>
                              <th class="text-xs-center">Download</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let doc of applicationDocuments">
                              <td>
                                <a [href]="getDownloadURL(doc)" target="_blank">
                                  {{doc.name}}
                                </a>
                              </td>
                              <td>{{getDocumentTypeName(doc.document_type)}}</td>
                              <td class="text-xs-center">
                                <a [href]="getDownloadURL(doc)" target="_blank" class="btn btn-sm btn-warning">
                                  <i class="ft-download"></i> Download</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-btn-back">
          <div class="col-xs-12">
            <a [routerLink]="['/dashboard']" class="btn btn-secondary"><i class="fa fa-angle-double-left"></i> Back to dashboard</a>
          </div>
        </div>
    </div>
  </div>
</div>