<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12 p-0">
        <div class="card border-grey border-lighten-3 px-2 py-2 row mb-0">
          <div class="card-header no-border p-0">
            <div class="card-title text-xs-center">
              <img src="https://cdn.bmgmoney.com/logo/bmgmoney_Logo_RGB__Orange-Purple_Large.png" alt="branding logo" class="logo">
            </div>

          </div>
          <div class="card-body collapse in">
            <div class="card-block card-login-padding">
              <form class="form-horizontal" (ngSubmit)="onSubmit()" #redefinePasswordForm="ngForm" *ngIf="isTokenValid">
                <div class="row">
                  <div class="col-xs-12">
                    <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2">
                      <span>Reset your password</span>
                    </h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <fieldset class="form-group position-relative has-icon-left m-b-0">
                      <input [type]="passwordType" id="password" class="form-control input-lg" placeholder="New password" tabindex="1" [(ngModel)]="model.password"
                        name="password" #password="ngModel" required minlength="6" maxlength="20" validateSpecialCharsAndNumbers
                        validateStrength (focus)="onShowPasswordTips()" appAutofocus>
                      <div class="form-control-position">
                        <i class="fa fa-key"></i>
                      </div>
                      <div class="btn-show-password blue-grey pull-right" (click)='onChangePasswordInputType()'>
                        Show
                      </div>
                      <div *ngIf="showPasswordTips || password.touched" class="font-small-3">

                        <ul class="ul-password-tips" *ngIf="password.valid">
                          <li>
                            <span class="password-tip success darken-4">
                              <i class="fa fa-check"></i>
                              <span>Password Strength: Good</span>
                            </span>
                          </li>
                        </ul>
                        <ul class="ul-password-tips" *ngIf="!password.valid">
                          <li>
                            <span class="password-tip" [ngClass]="{
                                                      'error-message': password.errors != null && password.errors.weakpassword, 
                                                      'success darken-4': password.valid || (password.errors != null && !password.errors.weakpassword && !password.errors.required && !password.pristine)
                                                  }">
                              <i class="fa fa-check"></i>
                              <i class="fa fa-close"></i>
                              <span>Password Strength: Weak</span>
                            </span>
                          </li>
                          <li>
                            <span class="password-tip" [ngClass]="{
                                                      'error-message': password.errors != null && password.errors.minlength, 
                                                      'success darken-4': password.valid || (password.errors != null && !password.errors.minlength && !password.errors.required && !password.pristine)
                                                  }">
                              <i class="fa fa-check"></i>
                              <i class="fa fa-close"></i>
                              <span>At least 6 characters</span>
                            </span>
                          </li>
                          <li>
                            <span class="password-tip" [ngClass]="{
                                                      'error-message': password.errors != null && password.errors.specialCharsAndNumbers,
                                                      'success darken-4': password.valid || (password.errors != null && !password.errors.specialCharsAndNumbers && !password.errors.required && !password.pristine)
                                                  }">
                              <i class="fa fa-check"></i>
                              <i class="fa fa-close"></i>
                              <span>Must have at least a number or a special character</span>
                            </span>
                          </li>
                        </ul>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-warning btn-darken-4 btn-lg btn-block" tabindex="2">Save & Continue</button>
                  </div>
                </div>
              </form>

              <div class="token-expired" *ngIf="!isTokenValid">
                <div class="row m-t-30 text-xs-center" >
                  <div class="col-xs-12">
                    <p>Your link for reset your password has expired or is invalid.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <a [routerLink]="['/reset-password']" class="btn btn-secondary btn-darken-4 btn-lg btn-block m-b-10" tabindex="4">Request a new password reset</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <a href="#" (click)="redirectToLogin()"  class="btn btn-secondary btn-darken-4 btn-lg btn-block m-b-10" tabindex="5">Login</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</div>