<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-xs-12">
        <h3 class="content-header-title mb-0">Past Payments</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard']">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard/referrals']">Referrals</a>
              </li>
              <li class="breadcrumb-item">
                <span>Past Payments</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="grouped-info">
        <div class="row">
          <div class="col-xl-12">
            <div class="row">
              <div class="col-xl-12">

                <div class="row col-md-12 col-xs-12">
                  <div class="row">
                    <div class="col-xs-12 col-xl-12">
                      <div class="col-xs-6 col-xl-6 text-xs-right">
                        <fieldset class="form-group position-relative has-icon-left">
                          <div *ngIf="filtered_list.length == 0" class="blue-grey lighten-2">No data found</div>
                          <div *ngIf="filtered_list.length == 1" class="blue-grey lighten-2">1 item found</div>
                          <div *ngIf="filtered_list.length > 1" class="blue-grey lighten-2">{{filtered_list.length}}
                            items found</div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header p-t-5 p-b-0">
                          <div class="col-12">
                            <div class="table-responsive">
                              <table class="table table-striped table-slim">
                                <thead>
                                  <tr class="blue-grey">
                                    <th (click)="sort('bonus_amount', !sort_asc)" class="text-left cursor-pointer"
                                      scope="col">
                                      Bonus Amount
                                      <i *ngIf="sort_asc && sort_field=='bonus_amount'" class="fa fa-sort-asc"></i>
                                      <i *ngIf="!sort_asc && sort_field=='bonus_amount'" class="fa fa-sort-desc"></i>
                                    </th>
                                    <th (click)="sort('applied_bonus_amount', !sort_asc)"
                                      class="text-center cursor-pointer" scope="col">
                                      Applied Bonus Amount
                                      <i *ngIf="sort_asc && sort_field=='applied_bonus_amount'"
                                        class="fa fa-sort-asc"></i>
                                      <i *ngIf="!sort_asc && sort_field=='applied_bonus_amount'"
                                        class="fa fa-sort-desc"></i>
                                    </th>
                                    <th (click)="sort('applies_amount', !sort_asc)" class="text-left cursor-pointer"
                                      scope="col">
                                      Applies Amount
                                      <i *ngIf="sort_asc && sort_field=='applies_amount'" class="fa fa-sort-asc"></i>
                                      <i *ngIf="!sort_asc && sort_field=='applies_amount'" class="fa fa-sort-desc"></i>
                                    </th>
                                    <th (click)="sort('referrals_amount', !sort_asc)" class="text-left cursor-pointer"
                                      scope="col">
                                      Referrals Amount
                                      <i *ngIf="sort_asc && sort_field=='referrals_amount'" class="fa fa-sort-asc"></i>
                                      <i *ngIf="!sort_asc && sort_field=='referrals_amount'"
                                        class="fa fa-sort-desc"></i>
                                    </th>
                                    <th (click)="sort('payment_date', !sort_asc)" class="text-center cursor-pointer"
                                      scope="col">
                                      Payment Date
                                      <i *ngIf="sort_asc && sort_field=='payment_date'" class="fa fa-sort-asc"></i>
                                      <i *ngIf="!sort_asc && sort_field=='payment_date'" class="fa fa-sort-desc"></i>
                                    </th>
                                    <th (click)="sort('amount', !sort_asc)" class="text-center cursor-pointer"
                                      scope="col">
                                      Amount
                                      <i *ngIf="sort_asc && sort_field=='amount'" class="fa fa-sort-asc"></i>
                                      <i *ngIf="!sort_asc && sort_field=='amount'" class="fa fa-sort-desc"></i>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody *ngIf="filtered_list.length > 0">
                                  <tr
                                    *ngFor="let item of filtered_list | paginate: { id: 'parameters-pag', itemsPerPage: itemsPerPage, currentPage: page }">
                                    <td class="text-center" scope="col">{{item.bonus_amount | currency}}</td>
                                    <td class="text-center" scope="col">{{item.applied_bonus_amount | currency}}</td>
                                    <td class="text-center" scope="col">{{item.applies_amount | currency}}</td>
                                    <td class="text-center" scope="col">{{item.referrals_amount | currency}}</td>
                                    <td class="text-center" scope="col">{{item.payment_date | date:'MM/dd/yyyy'}}</td>
                                    <td class="text-center" scope="col">{{item.amount | currency}}</td>
                                  </tr>
                                  <tr>
                                    <td class="text-left" scope="col">Total</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center" scope="col">{{this.total | currency}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="row text-xs-right" *ngIf="filtered_list.length > 0">
                              <div class="col-12">
                                <pagination-controls id="parameters-pag" (pageChange)="page = $event" previousLabel=""
                                  nextLabel="" *ngIf="filtered_list.length > 0">
                                </pagination-controls>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row row-btn-back p-t-15">
                  <div class="col-xs-12">
                    <a [routerLink]="['/dashboard/referrals']" class="btn btn-secondary">
                      <i class="fa fa-angle-double-left"></i> Back to referrals</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
