<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">BMG LoansAtWork, LLC</h4>
      </div>
      <div class="card-body collapse in">
        <div class="card-block p-t-0">
          <p><b>Disclosure to Montana Residents:</b></p>
          <p>
            <b>The following information is not intended to substitute, replace or amend any of the information which will be disclosed to you under
              the federal Truth in Lending Act should you complete an application for a loan with BMG LoansATWork, LLC (“BMG”).</b>
            Montana rules require that we disclose to you, prior to your completion of an application for a loan, an example of the lowest and highest
            interest rate which we may charge on any loan for which you may apply along with any fees which may be charged to you should you fail to
            pay as agreed the installments of any BMG loan which may be offered to you.
          </p>
          <p>Lowest Interest Rate Available: 36%</p>
          <p>Highest Interest Rate Available: 36%</p>
          <p>No loan origination-related fees will be charged to you.</p>
          <p>Late Payment Fee: If any payment is in default for a period of 15 days or more, a late fee may be imposed in an amount equal to the
            greater of $15 or 5% of the scheduled installment payment amount due (not to exceed $50).</p>
          <p>Dishonored Payment Fee: A Dishonored Payment Fee not to exceed the actual insufficient funds fees incurred by you or $25, whichever is
            less, whenever a payment instrument is dishonored or returned unpaid by a depository institution. (Continued on next page)</p>
          <p>Deferral/extension fee: Not Applicable.</p>
          <p>Reasonable attorney’s fees: The reasonable costs BMG may incur to collect this loan, should BMG extend credit to you and should you fail
            to pay as agreed, according to the promissory note.</p>
          <div class="row m-t-15">
            <div class="col-xs-12 col-md-6 col-lg-3">
              <button type="button" (click)="onSubmit()" class="btn btn-warning btn-darken-4 btn-block">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>