<div class="alert bg-danger alert-icon-left fade in mb-2" role="alert" *ngIf="!selected && touched && !disabled">
    {{errorMessage}}
  </div>
<div class="row">
  <div class="col-xs-12" [ngClass]="{'col-md-12': (!size || size == 'xl')}" *ngFor="let item of data">
    <button type="button" class="btn btn-secondary btn-choose w-100" [ngClass]="{'active' : item.selected, 'text-xs-left': (textAlign == 'left')}" (click)="select(item)" [disabled]="disabled">
      <i class="fa fa-check"></i> {{item.text}}</button>
  </div>
</div>